<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss}] [%logger{36}] [%level]: %msg%n" />
        </Console>
        <File name="File" fileName="bouncyball.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss}] [%logger{36}/%t] [%level]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>